<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf8">		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% block menu %}
		{% endblock %}

		{% block body %}
		{% endblock %}
	</body>
</html>