{% import 'menu.html' as menu %}
{% extends "base.html" %}

{% block menu %}
 {{ menu.render_menu(menulinks, path) }}
{% endblock %}

{% block body %}
<h1>Player Settings</h1>

{% if kargs['msg'] %}
<div id="msg">{{kargs['msg']|safe}}</div>
{% endif %}

<form method="POST" enctype="multipart" action={{path}}>
 <select name="file" value="{{kargs['file_html_value']}}" > 
 {% for f in files %}
  {% if f[0] != '.'  %}
  <option 
  {% if f == kargs['file_html_value'] %} 
  selected="selected" 
  {% endif %}>{{f}}</option>
  {% endif %}
 {% endfor %}
 </select>
 <br/>
 <input name="loop" type="checkbox" value="loop" {% if kargs['loop_html_value']  %}checked{% endif %} />
 <label for="loop">Loop video</label>
 <br/>
 <input type="range" min="0" max="100" name="volume" value="{{kargs['volume_html_value']}}" />
 <label>Volume</label>
 <br/>
 <input type="submit" name="submit" value="test"/>
 <input type="submit" name="submit" value="store"/>
 <input name="debug" type="checkbox" value="debug"
 {% if kargs['logfile'] %}checked{% endif %}/>
 <label for="debug">Debug Log</label>
 <br/> 
</form>


{% endblock %}