
{% extends "base.html" %}

{% import 'menu.html' as menu %}
{% block menu %}
 {{ menu.render_menu(menulinks, currentpath) }}
{% endblock %}

{% block body %}


{% if ui_msg %}
 <div id="msg" 
 {% if apirespcode != '200' %}class="fail"{% endif %}>
<p>{{ui_msg|safe}}</p>
<p>{{apiresp|safe}}</p>
 </div>
{% endif %}


<h1>Pi {{hostname}} - {{ipaddr}}</h1>
<div class="filesstored">
 <h2>Files Stored in the Pi</h2>
 <ul>
 {% for f in files %}
  {% if f[0] != '.' %}
  <li>{{f}}</li>
  {% endif %}
 {% endfor %}
 </ul>
 <p>Files Stored in directory:<br/>{{userdir}}</p>
</div>


<div class="uploadfiles">
 <h2>Upload Files to the Pi</h2>
 <form method="POST" enctype=multipart/form-data action={{path}}?form=upload>
     <input type="file" name="fileinput" /><br/>
     <input type="submit" name="submit" value="upload"/>
 </form>
</div>

<div class="delefiles">
 <h2>Delete Files from Pi</h2>

 <form method="POST" enctype="multipart" action={{path}}?form=delete>
  <select multiple name="todelete" > 
  {% for f in files %}
   {% if f[0] != '.'  %}
   <option>{{f}}</option>
   {% endif %}
  {% endfor %}
  </select>
  <br/>
     <input type="submit" name="submit" value="delete"/>
 </form>
 <p><b>User Cdm+click to select more than 1</b></p>
</div>



{% endblock %}